body {
  font-family: "Noto Sans", "Noto Sans CJK KR", sans-serif;
  max-width: 1500px;
  margin: 0px auto 0px auto;
}

a.best_item_main {
  text-decoration: none;
  color: black;
}

#bannerContainer {
  background-color:darkslategrey;
  position: relative;
}
#bodyContainer {
  position: relative;
}
.signupdiv {
  position: absolute;
  left: 0;
  width: auto;
  height: auto;
}
.resimg {
  position: relative;
  width: 100%;
  height: auto;
}
.formdiv {
  position: absolute;
  right: 0;
  margin: 30px;
}
.footerdiv {
  position: relative;
}