#bodyContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    position: relative;
}

#search-bar {
    background-color: antiquewhite;
    padding: 20px;
    display: block;
}

#filter-sort {
    background-color: aquamarine;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
}

    a:link {
        color: black;
        background-color: transparent;
        text-decoration: none;

#main-content {
    
}