#bodyContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    position: relative;
}

#search-bar {
    background-color: lightblue;
    padding: 20px;
    display: block;
}

#filter-sort {
    background-color: lightgreen;
    padding: 20px;
    display: flex;
    font-weight: bold;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
}

a:link {
    color: black;
    display: block;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: black;
}

.div-between-line {
    height: 1px;
    background-color: grey;
}

#product_image_part {
    text-align: center;
}

#product_description {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

#button_group {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#cart_button, #wish_button {
    width: 45%;
}

@media only screen and (max-width: 1176px) {
    #product_image {
        width: 100%;
    }
    #product_description {
        font-size: 1.2rem;
    }
}

@media only screen and (min-width: 1177px) {
    #product_image {
        width: 60%;
    }
    #product_description {
        font-size: 1.5rem;
    }
}
